<div class="container" ng-controller="exploreCtrl">

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/chandi.jpg" alt="">

                <a class="bp-title">
                    <h2>Chandigarh</h2>
                    <small>Have a tour around the Chandigarh.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/anda.jpg" alt="">

                <a class="bp-title">
                    <h2>Andaman Island</h2>
                    <small>Have you explore the Andaman Island? </small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/assam.jpg" alt="">

                <a class="bp-title">
                    <h2>Assam</h2>
                    <small>Explore the Assam and its beauty.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/kashmir.jpg" alt="">

                <a class="bp-title">
                    <h2>Kashmir</h2>
                    <small>Kashmir, the heaven of the world.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/kar.jpg" alt="">

                <a class="bp-title">
                    <h2>Karnataka</h2>
                    <small>Explore the South India Culture!!.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/goa.jpg" alt="">

                <a class="bp-title">
                    <h2>Goa</h2>
                    <small>Take a stroll to the GOA.</small>
                </a>
            </div>
        </div>
    </div>

</div>
